@charset "UTF-8";
.tabs {
  margin-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
  padding-top: 30px;
  margin: 0 auto;
}
.margin_tab{
  padding: 0 180px;
  visibility: hidden;
}
.tab {
  padding: 0 30px;
  height: 50px;
  margin-left: 3px;
  border:#E7E7E7 1px solid;
  border-radius: 4px 4px 0 0;
  background-color: #F0F0F0;
  line-height: 50px;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  color: #8E8E8E;
  display: inline-block;
  float: center;
  text-align: center;
  transition: all 0.2s ease;
}
.tab:hover {
  opacity: 0.6;
}

input[name="tab"] {
  display: none;
}

.tab_content {
  margin-top: -1px;
  z-index: 1;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
  display: none;
  background-color:#FAFAFA;
  border-top:#E7E7E7 solid 1px;
  text-align: center;
  height: 100px;
}
.tab_content_text{
	color: #cccccc;
}
#radio1:checked ~ #radio1_content,
#radio2:checked ~ #radio2_content,
#radio3:checked ~ #radio3_content,
#radio4:checked ~ #radio4_content {
  display: block;
}
.tabs input:checked + .tab {
  background-color: #FAFAFA;
}
.tabs input:checked + .tab {
  background-color: #FAFAFA;
  border-bottom: #FAFAFA 1px solid;
}



